:root {
  --primary-color--hex: #3b82f6;
  --primary-color--rgb: 59, 130, 246;

  --primary-supportive-color--hex: #3b82f640;
  --primary-supportive-color--rgba: rgba(59, 130, 246, 0.25);

  --accent-color--hex: #f6af3b;
  --accent-color--rgb: 246, 175, 59;

  --accent-supportive-color--hex: #f6af3b40;
  --accent-supportive-color--rgba: rgba(246, 175, 59, 0.25);

  --success-color--hex: #00ca87;
  --success-color--rgb: 0, 202, 135;

  --red-color--hex: #ca0000;
  --red-color--rgb: 202, 0, 0;

  --positive-color--hex: #ca0000;
  --positive-color--rgb: 202, 0, 0;

  --text-color--hex: #111117;
  --text-color--rgb: 17, 17, 23;

  --text-supportive-color--hex: #9d9d9d;

  --border-color--hex: #c6c6c6;
  --border-color--rgb: 198, 198, 198;

  --background-color--hex: #fdfdfd;
  --background-color--rgb: 253, 253, 253;

  --background-component-color--hex: #ffffff;
  --background-component-color--rgb: 255, 255, 255;
}
