body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

input {
  &:focus {
    outline: none;
  }
}

i {
  font-style: normal;
}
